.theProjects {
    margin: 0;
    box-sizing: border-box;
    width: 100%;
    height: 150vh;
    background-color: #111c1bc7;
    color: white;
}
.project-title {
    width: 45%;
    padding: 20px;
    margin-top: 100px;
    color: #fff;
    border-bottom: 3px solid #ee481f;
    margin-bottom: 30px;
}
.projects-details {
    border: 3px solid #ee481f;
    margin-top: 100px;
}
.project-icon {
    margin-right: 30px;
    font-size: 40px;
}
.project-icon:hover {
    animation: rotate 1s linear;
}
@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(180deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
@media only screen and (max-width: 1250px) {
    .theProjects {
        padding: 10px;
        height: 180vh;
    }
}
@media only screen and (max-width: 450px) {
    .theProjects {
        padding: 10px;
        height: 280vh;
    }
    .projects-icons {
        margin-bottom: 30px;
    }
}
